{% load element_translator %}
<div id="search">
	<ul class="sidenav">
		<li><a href="/{{ curr_lang_code }}/landlord_services/base/">{% gettext pageless-Landlord_services %}</a></li>
		<li><a href="/{{ curr_lang_code }}/search/">{% gettext pageless-View_our_properties %}</a></li>
		<li><a href="/{{ curr_lang_code }}/corporate/">{% gettext pageless-Corporate %}</a></li>
		<li><a href="/{{ curr_lang_code }}/currency_exchange/">{% gettext pageless-Currency_exchange %}</a></li>
	</ul>
	<h2>{% gettext searchboxes-landlords-header_1 %}</h2>
	<p>{% gettext searchboxes-landlords-paragraph_1 %}</p>
	<span class="phone">020 8896 9990</span>

	<h3>{% gettext searchboxes-landlords-header_2 %}</h3>
	<p>{% gettext searchboxes-landlords-paragraph_2 %}</p>
</div> <!-- end of: search -->