<!-- TODO: Translations needed -->
{% load element_translator %}
<h3>{% gettext reusable-faq-faqs %}</h3>
<ul>
	<li><a href="/{{ curr_lang_code }}/faq/">{% gettext reusable-faq-furniture %}</a></li>
	<li><a href="/{{ curr_lang_code }}/faq/">{% gettext reusable-faq-tax_advice %}</a></li>
	<li><a href="/{{ curr_lang_code }}/faq/">{% gettext reusable-faq-client_info %}</a></li>
	<li><a href="/{{ curr_lang_code }}/faq/">{% gettext reusable-faq-engagement_terms %}</a></li>
	<li><a href="/{{ curr_lang_code }}/faq/">{% gettext reusable-faq-insurance %}</a></li>
	<li><a href="/{{ curr_lang_code }}/faq/">{% gettext reusable-faq-protection %}</a></li>
</ul>

<a href="/{{ curr_lang_code }}/faq/">{% gettext reusable-faq-view_all %}</a>