{% load element_translator %}
<div id="logos">
	<ul>
		<li>
			<img src="{{ STATIC_URL }}images/logos/property_ombudsman_sales.jpg" alt="{% gettext reusable-logos-sales_alt %}">
		</li>
		<li>
			<img src="{{ STATIC_URL }}images/logos/property_ombudsman_lettings.jpg" alt="{% gettext reusable-logos-lettings_alt %}">
		</li>
		<li>
			<img src="{{ STATIC_URL }}images/logos/mydeposits.jpg" alt="{% gettext reusable-logos-deposit_alt %}">
		</li>
		<li>
			<img src="{{ STATIC_URL }}images/logos/oft.jpg" alt="{% gettext reusable-logos-oft_alt %}">
		</li>
		<li>
			<img src="{{ STATIC_URL }}images/logos/guild.jpg" alt="{% gettext reusable-logos-guild_alt %}">
		</li>
	</ul>
</div> <!-- end of: logos -->