{% load element_translator %}
<ul class="nav_mobile">
	<li><a href="/{{ curr_lang_code }}/landlords/">{% gettext pageless-Landlords %}</a></li>
	<li><a href="/{{ curr_lang_code }}/tenants/">{% gettext pageless-Tenants %}</a></li>
	<li><a href="/{{ curr_lang_code }}/buyers/">{% gettext pageless-Sales %}</a></li>
	<li><a href="/{{ curr_lang_code }}/corporate/">{% gettext pageless-Corporate %}</a></li>
	<li><a href="/{{ curr_lang_code }}/about_us/base/">{% gettext pageless-About_us %}</a></li>
	<li class="contact"><a href="#">{% gettext pageless-Contact_us %}</a></li>
</ul>