<!-- TODO: Add translations. -->
<ul class="nav_mobile">
	<li><a href="{% url landlords %}">{% gettext pageless-Landlords %}</a></li>
	<li><a href="{% url tenants %}">{% gettext pageless-Tenants %}</a></li>
	<li><a href="{% url buyers %}">{% gettext pageless-Sales %}</a></li>
	<li><a href="{% url corporate %}">{% gettext pageless-Corporate %}</a></li>
	<li><a href="/about_us/base/">{% gettext pageless-About_us %}</a></li>
	<li class="contact"><a href="#">{% gettext pageless-Contact_us %}</a></li>
</ul>