<!-- TODO: Add translations. -->
<!-- TODO: Should be suitable for both newsletter and email alert. -->
<div id="alerts">
	<h3>Sign up to our newsletter</h3>
	<p>Receive news for properties within your search criteria</p>
	<form id="email_alerts"> <!-- TODO: Crete Django form for this. -->
		<input type="text" name="email" id="email">
		<p>I want to receive newsletters for:</p>
		<select name="alert_length" id="alert_length">
			<option value="one-week" name="one-week">One week</option>
		</select>
		<input type="submit" class="button_1" value="Sign up for newsletter">
	</form>
</div> <!-- end of: alerts -->