{% load element_translator %}
<div id="feature"> 
	<!-- TODO: This part probably needs to be generated automatically. -->
	<div class="slidewrap" data-autorotate="8000"> 
		<ul class="slidecontrols"> 
			<li><a href="#sliderName" class="next">{% gettext slider-next %}</a></li> 
			<li><a href="#sliderName" class="prev">{% gettext slider-prev %}</a></li> 
		</ul> 
		<ul class="slider" id="sliderName">
			{% for slider_image in slider_images %}
				<li class="slide"> 
					<img src="{{ STATIC_URL }}{{ slider_image }}" alt="Slider Image {{ forloop.counter }}"/> 
				</li>
			{% endfor %} 
		</ul> 
	</div>
	
</div> <!-- end of: feature -->