{% load element_translator %}
<!-- TODO: Translate template tag need to be made and added to this page -->
<div id="topbar">
	
	<div id="topbar_inner">
		<div id="topbar_1">	
			<a href="/{{ curr_lang_code }}/"><img id="logo" src="{{ STATIC_URL }}images/logo.png" alt="LIFE Residential" /></a> 
		</div> <!-- end of: topbar_1 -->
		<div id="topbar_2"> 
			<ul id="nav"> 
				<li><a href="/{{ curr_lang_code }}/"><img src="{{ STATIC_URL }}images/home_icon.png" alt="home"/> Home</a></li> 
				<li><a href="/{{ curr_lang_code }}/landlords/">{% gettext pageless-Landlords %}</a></li> 
				<li><a href="/{{ curr_lang_code }}/tenants/">{% gettext pageless-Tenants %}</a></li> 
				<li><a href="/{{ curr_lang_code }}/buyers/">{% gettext pageless-Sales %}</a></li> 
				<li><a href="/{{ curr_lang_code }}/corporate/">{% gettext pageless-Corporate %}</a></li> 
				<li><a href="/{{ curr_lang_code }}/about_us/base/">{% gettext pageless-About_us %}</a></li> 
				<li class="contact"><a href="#">{% gettext pageless-Contact_us %}</a></li> 
			</ul>
			<h2>{% gettext pageless-Welcome %}</h2><!-- TODO: Make this part changeable based on page. Also needs customised translation. -->
		</div> <!-- end of: topbar_2 -->
		<div id="topbar_3"> 
			<strong>{% gettext pageless-Call_us_now %} +44 (0)208 896 9990</strong> 
			<div id="language"> 
				<form id="language_selection">
					<!-- TODO: Add for cycle here to show all languages --> 
					<select id="language_selector" name="property_type" class="property_type" >
						{% for lang_code, lang in languages %}
							<option value="/{{ lang_code }}{{ pagename }}">{{ lang }}</option>
						{% endfor %}
					</select> 
					<img src="{{ MEDIA_URL }}{{ curr_flag }}" alt="{{ curr_lang }}" class="language" />
					<!-- End of for cycle --> 
				</form> 
			</div> <!-- end of: language -->
			<div class="shortlist-link" id="shortlist-link" >
				<a href="#">{% gettext topbar-View_Shortlist %} </a>
			</div>
		</div> <!-- end of: topbar_3 --> 
	</div> <!-- end of: topbar_inner -->
	
	<div class="topnav_mobile">
		<ul> 
			<li> 
				<img src="{{ STATIC_URL }}images/mobile_nav_home_icon.png" alt="home"/> 
				<a href="/{{ curr_lang_code }}/">{% gettext pageless-Home %}</a> 
			</li> 
			<li> 
				<img src="{{ STATIC_URL }}images/mobile_nav_search_icon.png" alt="search"/> 
				<a href="/{{ curr_lang_code }}/search/">{% gettext pageless-Property_search %}</a> 
			</li> 
			<li> 
				<img src="{{ STATIC_URL }}images/mobile_nav_shortlist_icon.png" alt="shortlist"/>
				<a class="shortlist-link" href="#" >{% gettext topbar-View_Shortlist %} </a>
			</li> 
		</ul> 
	</div> <!-- end of: topnav_mobile -->
						
</div> <!-- end of: topbar -->
<script type="text/javascript">
var shortlist_ids = [];
var csrf_pattern = /.*value='([a-z0-9]+)'.*/g
var csrf_match = csrf_pattern.exec("{% csrf_token %}");
var csrf_token = csrf_match[1]

var submitter = function(action, list_name, list_value) {
	var form = document.createElement("form");
	form.setAttribute("method", "POST");
	form.setAttribute("action", action);

	var hidden = document.createElement('input');
	hidden.setAttribute("type", "hidden");
	hidden.setAttribute("name", list_name);
	hidden.setAttribute("value", list_value);
	form.appendChild(hidden);

	var csrf = document.createElement('input');
	csrf.setAttribute("type", "hidden");
	csrf.setAttribute("name", "csrfmiddlewaretoken");
	csrf.setAttribute("value", csrf_token);	
	form.appendChild(csrf);
	
	form.submit();
};

$(window).load(function () {
	// Adding the number of shortlist elements to it's link
	if ($.cookie('shortlist_ids') != null) {
		shortlist_ids = $.parseJSON($.cookie('shortlist_ids'));
	}

	$('div.shortlist-link a').append('(' + shortlist_ids.length + ')' + ' &gt;');
	$('a.shortlist-link').append('(' + shortlist_ids.length + ')' + ' &gt;');

	// Adding the shortlist submission function
	$('.shortlist-link').each(function () {
		$(this).click(function () {
			submitter("/{{ curr_lang_code}}/search/","shortlist_ids","[" + shortlist_ids.join(', ') + "]");
		});
	});
});
</script>