<!-- TODO: Maybe some translation is needed . This should be replaced with the real twitter feed. -->
<div id="twitter_feed">
	<h3>Twitter</h3>
	<ul>
		<li>
			<p>interesting article here on the rent demand gap. Well I think it's interesting ... <a href="">http://t.co/dNbDrRb</a></p>
			<p class="meta"><span class="tweet_date">7 days ago -</span>
				<a href="#">reply -</a>
				<a href="#">retweet -</a>
				<a href="#">favourite</a>
			</p>
		</li>
		<li>
			<p>interesting article here on the rent demand gap. Well I think it's interesting ... <a href="">http://t.co/dNbDrRb</a></p>
			<p class="meta"><span class="tweet_date">7 days ago -</span>
				<a href="#">reply -</a>
				<a href="#">retweet -</a>
				<a href="#">favourite</a>
			</p>
		</li>
		<li>
			<p>interesting article here on the rent demand gap. Well I think it's interesting ... <a href="">http://t.co/dNbDrRb</a></p>
			<p class="meta"><span class="tweet_date">7 days ago -</span>
				<a href="#">reply -</a>
				<a href="#">retweet -</a>
				<a href="#">favourite</a>
			</p>
		</li>
		<li>
			<p>interesting article here on the rent demand gap. Well I think it's interesting ... <a href="">http://t.co/dNbDrRb</a></p>
			<p class="meta"><span class="tweet_date">7 days ago -</span>
				<a href="#">reply -</a>
				<a href="#">retweet -</a>
				<a href="#">favourite</a>
			</p>
		</li>
		<li>
			<p>interesting article here on the rent demand gap. Well I think it's interesting ... <a href="">http://t.co/dNbDrRb</a></p>
			<p class="meta"><span class="tweet_date">7 days ago -</span>
				<a href="#">reply -</a>
				<a href="#">retweet -</a>
				<a href="#">favourite</a>
			</p>
		</li>
		<li>
			<p>interesting article here on the rent demand gap. Well I think it's interesting ... <a href="">http://t.co/dNbDrRb</a></p>
			<p class="meta"><span class="tweet_date">7 days ago -</span>
				<a href="#">reply -</a>
				<a href="#">retweet -</a>
				<a href="#">favourite</a>
			</p>
		</li>
	</ul>

	<a href="http://twitter.com/liferes" class="button">
	Follow us <img src="{{ STATIC_URL }}images/twitter_icon.png" alt="follow us"></a>
</div>