{% extends "skeleton_page.html" %}

{% block container_class %}{{ container_class }}{% endblock %}

{% load element_translator %}
{% block before_content %}

<div id="header">
	
	<div class="result_bar guide">
		<ul> <!-- TODO: select need to be added based on which page is selected -->
			<li class="selected"><a href="/{{ curr_lang_code }}/city_guide/all/">{% gettext city_guide-select_London %}</a></li> | 
			<li class="page_number"><a href="/{{ curr_lang_code }}/city_guide/central/">{% gettext city_guide-select_Central %}</a></li> | 
			<li class="page_number"><a href="/{{ curr_lang_code }}/city_guide/central/">{% gettext city_guide-select_City %}</a></li> | 
			<li class="page_number"><a href="/{{ curr_lang_code }}/city_guide/central/">{% gettext city_guide-select_North %}</a></li> | 
			<li class="page_number"><a href="/{{ curr_lang_code }}/city_guide/central/">{% gettext city_guide-select_North_East %}</a></li> | 
			<li class="page_number"><a href="/{{ curr_lang_code }}/city_guide/central/">{% gettext city_guide-select_East %}</a></li> | 
			<li class="page_number"><a href="/{{ curr_lang_code }}/city_guide/central/">{% gettext city_guide-select_South_East %}</a></li> | 
			<li class="page_number"><a href="/{{ curr_lang_code }}/city_guide/central/">{% gettext city_guide-select_South %}</a></li> | 
			<li class="page_number"><a href="/{{ curr_lang_code }}/city_guide/central/">{% gettext city_guide-select_South_West %}</a></li> | 
			<li class="page_number"><a href="/{{ curr_lang_code }}/city_guide/central/">{% gettext city_guide-select_West %}</a></li> | 
			<li class="page_number"><a href="/{{ curr_lang_code }}/city_guide/central/">{% gettext city_guide-select_North_West %}</a></li>
		</ul>
	</div>
	
</div> <!-- end of: header -->

{% endblock %}

{% block real_content_id %}city_guide{% endblock %}

{% block real_content %}

<div id="map">

{% include "elements/media/city_guide.html" %}

{% include content_name %} <!-- TODO: Contents have the same structure so they need to be unified. -->
	
</div> <!-- end of: map -->

{% include "elements/reusable/our_staff.html" %}	

{% endblock %}

{% block sidebar_content %}

{% include "elements/searchboxes/city_guide.html" %}

{% include "elements/reusable/iphone_app.html" %}

{% include "elements/reusable/follow_us.html" %}


{% endblock %}

{% block after_content %}{% endblock %}

{% block after_container %}{% endblock %}