{% extends "skeleton_page.html" %}

{% block container_class %}page tenants currency_exchange{% endblock %}

{% block before_content %}{% endblock %}

{% block real_content_id %}tenants{% endblock %}

{% load element_translator %}
{% block real_content %}

<div id="map" class="single">

	{% include "elements/media/tenants.html" %}

	<div class="map_description col1">
		<h2>{% gettext currency_exchange-header %}</h2>
		<p>{% gettext currency_exchange-paragraph_1 %}</p>
		<p>{% gettext currency_exchange-paragraph_2 %}</p>
		{% gettext currency_exchange-paragraph_3 %}
		<p>{% gettext currency_exchange-paragraph_4 %}</p>
	</div>
	
</div> <!-- end of: map -->

{% endblock %}

{% block sidebar_content %}

{% include "shortcuts/usual_sidebar.html" %}

{% endblock %}

{% block after_content %}{% endblock %}

{% block after_container %}{% endblock %}