{% extends "skeleton_page.html" %}

{% block container_class %}page tenants currency_exchange property_management landlords faq{% endblock %}

{% block before_content %}{% endblock %}

{% block real_content_id %}tenants{% endblock %}

{% block real_content %}

<div id="map" class="single article"> <!-- TODO: Should be stored in some database. -->
	
	<div class="map_description col1">
		<div class="faq">
		<h2>Tax advice for overseas landlords</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</p>
		<a class="button_2 contact" href="#">Contact us for more information</a>
		</div>
		
		<div class="faq">
		<h2>Furnishing</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</p>
		<a class="button_2 contact" href="#">Contact us for more information</a>
		</div>
		
		<div class="faq">
		<h2>Tax advice for overseas landlords</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</p>
		<a class="button_2 contact" href="#">Contact us for more information</a>
		</div>

	</div>

</div>

{% endblock %}

{% block sidebar_content %}

{% include "elements/searchboxes/form.html" %}

{% include "elements/reusable/newsletter.html" %}

{% endblock %}

{% block after_content %}{% endblock %}

{% block after_container %}{% endblock %}