{% extends "skeleton_page.html" %}

{% block container_class %}page landlords{% endblock %}

{% block before_content %}{% endblock %}

{% block real_content_id %}tenants{% endblock %}

{% block real_content %}

<div id="map">

	{% include "elements/media/landlords.html" %}

	<div class="row" id="row1"> <!-- TODO: Needs data. Probably also needs tables. -->
	
		<div class="col">
			<h3>UK Landlords</h3>
			<p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<a href="#">Find out more &gt;</a>
		</div>

		<div class="col">
			<h3>Overseas Landlords</h3>
			<p>Duis aute irure in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat.</p>
			<a href="#">Find out more &gt;</a>
		</div>

		<div class="col">
			<h3>Developers</h3>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
			<a href="#">Find out more &gt;</a>
		</div>

	</div> <!-- end of: row1 -->

	<div class="row" id="row2">
	
		<div class="col" id="col1">
			<h3>Why use us</h3>
			<ul>
				<li>Established in 1999</li>
				<li>Specialists in lettings, sales &amp; management</li>
				<li>Efficient and friendly service</li>
				<li>Worldwide clients</li>
				<li>High quality propertys in major UK cities</li>
				<li>Specialists in London properties</li>
				<li>Multilingual staff. We speak your language</li>
				<li>FTSE 100 company &amp; Fortune 2000 corporation</li>
			</ul>
		</div> <!-- end of: col1 -->

		<div class="col">
			<h3>Landlord Services</h3>
			<ul>
				<li><a href="/landlord_services/property_management/">Property Management</a></li>
				<li><a href="/landlord_services/tax_advice/">Tax advice for overseas landlords</a></li>
				<li><a href="/landlord_services/furnishing/">Furniture sales/rental</a></li>
				<li><a href="/landlord_services/client_info/">Client information</a></li>
				<li><a href="/landlord_services/engagement_terms/">Terms of engagement</a></li>
			</ul>
		</div>

	</div> <!-- end of: row2 -->

	<div class="row" id="row3">
	
		<div class="col">
			<h3>Why use us</h3>
				<p>Our mission is to efficiently secure maximum rent, from the best tenant, in the shortest time possible. We strive to be Loyal, Informed, Friendly, Ethical, and we will look after your property as if it was our own.</p>
				<p>LIFE is much more than just a letting agency. We can add value to your investment, by providing a complete range of innovative services to both Landlords and Tenants.</p>
				<h3>Individual Properties/Lettings</h3>
				<p>Whether you own one property or hundreds of properties, we can provide as much regular information on the status of your investment that you require.</p>
		</div>

		<div class="col">
			<h3>Sourcing Tenants</h3>
			<h4>Property Portals</h4>
			<p>Our mission is to efficiently secure maximum rent, from the best tenant, in the shortest time possible. We strive to be Loyal, Informed, Friendly, Ethical, and we will look after your property as if it was our own.</p>
			<p>LIFE is much more than just a letting agency. We can add value to your investment, by providing a complete range of innovative services to both Landlords and Tenants.</p>
			<h3>Press</h3>
			<p>Whether you own one property or hundreds of properties, we can provide as much regular information on the status of your investment that you require.</p>
		</div>

	</div> <!-- end of: row3 -->

	<div class="row" id="picture_row">
		<div class="row_header">
			<h3>Previous Developments</h3>
			<p>Our Corporate Development Team pride themselves with being one of London’s finest building brokerage teams. </p>
			<a href="#">View more Developments &gt;</a>
		</div>

		<ul class="picture_thumbs">
			<li>
				<a href="#"><img src="{{ STATIC_URL }}images/prev_dev_thumb1.jpg" alt="Previous development"></a>
				<strong>Cadwell House, London SW13</strong>
			</li>
			<li>
				<a href="#"><img src="{{ STATIC_URL }}images/prev_dev_thumb2.jpg" alt="Previous development"></a>
				<strong>Victoria Road, London W3</strong>
			</li>
			<li>
				<a href="#"><img src="{{ STATIC_URL }}images/prev_dev_thumb3.jpg" alt="Previous development"></a>
				<strong>Merchant Street, London W2</strong>
			</li>
		</ul>

	</div> <!-- end of: picture_row -->

</div>

{% endblock %}

{% block sidebar_content %}

<div id="search">
	<ul class="sidenav">
		<li><a href="/landlord_services/base/">Landlord services</a></li>
		<li><a href="{% url search %}">View our properties</a></li>
		<li><a href="{% url corporate %}">Corporate</a></li>
		<li><a href="{% url currency_exchange %}">Currency exchange</a></li>
	</ul>
	<h2>Corporate Clients</h2>
	<p>For corporate inquires, please contact our Corporate Services and Corporate Development Teams on</p>
	<span class="phone">020 8896 9990</span>

	<h3>Past Partnerships</h3>
	<p>Interested in our past partnerships?
		See our <a href="#">Landlord Services</a> page for more details</p>
</div> <!-- end of: search -->

{% include "elements/newsletter.html" %}

{% endblock %}

{% block after_content %}{% endblock %}