{% extends "skeleton_page.html" %}

{% block container_class %}page landlords{% endblock %}

{% block before_content %}{% endblock %}

{% block real_content_id %}tenants{% endblock %}

{% load element_translator %}
{% block real_content %}

<div id="map">

	{% include "elements/media/landlords.html" %}

	<div class="row" id="row1"> <!-- TODO: Needs data. Probably also needs tables. -->
	
		<div class="col">
			<h3>{% gettext landlords-row_1_column_1_header %}</h3>
			<p>{% gettext landlords-row_1_column_1_paragraph_1 %}</p>
			<a href="#">{% gettext pageless-Find_out_more %} &gt;</a>
		</div>

		<div class="col">
			<h3>{% gettext landlords-row_1_column_2_header %}</h3>
			<p>{% gettext landlords-row_1_column_2_paragraph_1 %}</p>
			<a href="#">{% gettext pageless-Find_out_more %} &gt;</a>
		</div>

		<div class="col">
			<h3>{% gettext landlords-row_1_column_3_header %}</h3>
			<p>{% gettext landlords-row_1_column_3_paragraph_1 %}</p>
			<a href="#">{% gettext pageless-Find_out_more %} &gt;</a>
		</div>

	</div> <!-- end of: row1 -->

	<div class="row" id="row2">
	
		<div class="col" id="col1">
			<h3>{% gettext landlords-row_2_column_1_header %}</h3>
			{% gettext landlords-row_2_column_1_list %}
		</div> <!-- end of: col1 -->

		<div class="col">
			<h3>{% gettext landlords-row_2_column_2_header %}</h3>
			<ul>
				<li><a href="/{{ curr_lang_code }}/landlord_services/property_management/">{% gettext landlords-property_management_link %}</a></li>
				<li><a href="/{{ curr_lang_code }}/landlord_services/tax_advice/">{% gettext landlords-tax_advice_link %}</a></li>
				<li><a href="/{{ curr_lang_code }}/landlord_services/furnishing/">{% gettext landlords-furnishing_link %}</a></li>
				<li><a href="/{{ curr_lang_code }}/landlord_services/client_info/">{% gettext landlords-client_info_link %}</a></li>
				<li><a href="/{{ curr_lang_code }}/landlord_services/engagement_terms/">{% gettext landlords-engagement_terms_link %}</a></li>
			</ul>
		</div>

	</div> <!-- end of: row2 -->

	<div class="row" id="row3">
	
		<div class="col">
			<h3>{% gettext landlords-row_3_column_1_header_1 %}</h3>
			<p>{% gettext landlords-row_3_column_1_paragraph_1 %}</p>
			<p>{% gettext landlords-row_3_column_1_paragraph_2 %}</p>
			<h3>{% gettext landlords-row_3_column_1_header_2 %}</h3>
			<p>{% gettext landlords-row_3_column_1_paragraph_3 %}</p>
		</div>

		<div class="col">
			<h3>{% gettext landlords-row_3_column_2_header_1 %}</h3>
			<h4>{% gettext landlords-row_3_column_2_header_2 %}</h4>
			<p>{% gettext landlords-row_3_column_2_paragraph_1 %}</p>
			<p>{% gettext landlords-row_3_column_2_paragraph_2 %}</p>
			<h3>{% gettext landlords-row_3_column_2_header_3 %}</h3>
			<p>{% gettext landlords-row_3_column_2_paragraph_3 %}</p>
		</div>

	</div> <!-- end of: row3 -->

	<div class="row" id="picture_row">
		<div class="row_header">
			<h3>{% gettext landlords-picture_row_header %}</h3>
			<p>{% gettext landlords-picture_row_paragraph_1 %}</p>
			<a href="#">{% gettext pageless-View_more_Developments %} &gt;</a>
		</div>

		<ul class="picture_thumbs">
			{% for previous_development in previous_developments %} <!-- TODO: Table need to be created for this. -->
				<li>
					<a href="#"><img src="{{ STATIC_URL }}{{ previous_development.thumbnail }}" alt="{% gettext landlords-Previous_development_alt %}"></a>
					<strong>{{ previous_development.address }}</strong>
				</li>	
			{% endfor %}
		</ul>

	</div> <!-- end of: picture_row -->

</div>

{% endblock %}

{% block sidebar_content %}

{% include "elements/searchboxes/landlords.html" %}

{% include "elements/reusable/newsletter.html" %}

{% endblock %}

{% block after_content %}{% endblock %}