<html>
<head>
<style type="text/css">
  html { height: 500px; width: 500px; }
  body { height: 500px; width: 500px; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript"src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
	var coords;
	var addresses;

	$(document).ready(function() {
		var latlng = new google.maps.LatLng(51.50015240, -0.12623620); // This is London
		var options = {
			zoom: 11,
			center: latlng,
			mapTypeId: google.maps.MapTypeId.HYBRID
		};
		var map = new google.maps.Map($('#map_canvas').get(0), options); // document.getElementById('map_canvas')

		/*coords = [{% for coord in coords %} {{ coord.0 }}, {{ coord.1 }}{% if not forloop.last %}, {% endif %}{% endfor %}];
		addresses = [{% for address in addresses %}'{{ address }}'{% if not forloop.last %}, {% endif %}{% endfor %}];
		property_ids = [{% for property_id in property_ids %}{{ property_id }}{% if not forloop.last %}, {% endif %}{% endfor %}]
		var marker;
		for(var i = 0; i < coords.length / 2; i++) {
			latlng = new google.maps.LatLng(coords[2 * i], coords[2 * i + 1]);
			marker = new google.maps.Marker({position: latlng, map: map, title: addresses[i]});
			marker.property_id = property_ids[i];
			google.maps.event.addListener(marker, 'click', function() {
				window.location = '/uk/detail/' + this.property_id + '/';
			});
		}*/

	});
</script>
</head>
<body>
<div id="map_canvas"></div>
</body>
</html>