{% extends "skeleton_page.html" %}

{% block container_class %}page tenants currency_exchange{% endblock %}

{% block before_content %}{% endblock %}

{% block real_content_id %}tenants{% endblock %}

{% block real_content %}

<div id="map" class="single">
	
	{% include "elements/media/tenants.html" %}
	
	<div class="map_description col1">
		<h2>{% gettext our_properties-header %}</h2>
		<p>{% gettext our_properties-paragraph_1 %}</p>
		<p>{% gettext our_properties-paragraph_2 %}</p>
		<p>{% gettext our_properties-paragraph_3 %}</p>
	</div>
	
</div>

{% endblock %}

{% block sidebar_content %}

{% include "shortcuts/usual_sidebar.html" %}

{% endblock %}

{% block after_content %}{% endblock %}

{% block after_container %}{% endblock %}