{% extends "skeleton_page.html" %}

{% block container_class %}page search{% endblock %}

{% block before_content %}

<div id="header">
	
	<div class="result_bar">
		
		<div class="results_num">
			<h3>73 Properties found</h3>
		</div>

		<div class="per_page">
			<label for="per_page">Properties per page</label>
			<select name="per_page">
				<option value="25" name="25">25</option>
			</select>
		</div>

		<div class="sort_by">
			<label for="sort_by">Sort by:</label>
			<select name="sort_by">
				<option value="low-to-high" name="low-to-high">Low to High</option>
			</select>
		</div>

		<div class="pagination">
			<ul>
				<li class="prev"><a>&lt; Previous</a></li>
				<li class="page_number"><a href="#">1</a></li>
				<li class="page_number selected"><a href="#">2</a></li>
				<li class="page_number"><a href="#">3</a></li>
				<li class="page_number"><a href="#">4</a></li>
				<li class="page_number"><a href="#">5</a></li>
				<li class="next"><a>Next &gt;</a></li>
			</ul>
		</div>
		
	</div> <!-- end of: result_bar -->
	
</div> <!-- end of: header -->

{% endblock %}

{% block real_content_id %}search_results{% endblock %}

{% block real_content %}
<!-- TODO: Automatically generate this and create models for it. -->
{% for search_result in search_results %}
<div class="result">
	<div class="result_image">
		<img src="{{ STATIC_URL }}images/search_result_picture_1.jpg" alt="search result">
		<div class="controls">
			<ul>
				<li class="selected"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
			</ul>
		</div>
	</div>
	<div class="result_details">
		<h3>9 Caldwell House, 48 Trinity Church Road, Barnes - SW13</h3>
		<strong>Property Ref No: 9968</strong>
		<h4>Key Features</h4>
		<ul>
			<li>16th Floor</li>
			<li>Two bedroom/two bathroom (one en-suite)</li>
			<li>Breathtaking views taking in all famous landmarks</li>
			<li>Moments from Underground station</li>
		</ul>
	</div>
	<div class="result_options">
		<span class="price">£250<small>p/w</small></span>
		<a class="button_2" href="{% url detail %}">View details</a>
		<a class="button_1" href="#">Add to shortlist</a>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block sidebar_content %}

{% include "elements/search_form.html" %}

{% include "elements/newsletter.html" %}
	
{% include "elements/iphone_app.html" %}

{% include "elements/follow_us.html" %}

{% endblock %}

{% block after_content %}

<div class="result_bar lower">
	
	<div class="results_num">
		<h3>73 Properties found</h3>
	</div>

	<div class="per_page">
		<label for="per_page">Properties per page</label>
		<select name="per_page">
			<option value="25" name="25">25</option>
		</select>
	</div>

	<div class="sort_by">
		<label for="sort_by">Sort by:</label>
		<select name="sort_by">
			<option value="low-to-high" name="low-to-high">Low to High</option>
		</select>
	</div>

	<div class="pagination">
		<ul>
		<li class="prev"><a>&lt; Previous</a></li>
		<li class="page_number"><a href="#">1</a></li>
		<li class="page_number selected"><a href="#">2</a></li> <!-- TODO: selected need to be set based on page number -->
		<li class="page_number"><a href="#">3</a></li>
		<li class="page_number"><a href="#">4</a></li>
		<li class="page_number"><a href="#">5</a></li>
		<li class="next"><a>Next &gt;</a></li>
		</ul>
	</div>
	
</div>

{% endblock %}

{% block after_container %}{% endblock %}