{% extends "skeleton_page.html" %}

{% block container_class %}page search{% endblock %}

{% block before_content %}

{% include "elements/search_content/result_bar.html" with master_class="result_bar" %}

{% endblock %}

{% block real_content_id %}search_results{% endblock %}

{% block real_content %}
<!-- TODO: Automatically generate this and create models for it. -->
{% for search_result in search_results %}
<div class="result">
	<div class="result_image">
		<img src="{{ STATIC_URL }}images/search_result_picture_1.jpg" alt="search result">
		<div class="controls">
			<ul>
				<li class="selected"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
			</ul>
		</div>
	</div>
	<div class="result_details">
		<h3>9 Caldwell House, 48 Trinity Church Road, Barnes - SW13</h3>
		<strong>Property Ref No: 9968</strong>
		<h4>Key Features</h4>
		<ul>
			<li>16th Floor</li>
			<li>Two bedroom/two bathroom (one en-suite)</li>
			<li>Breathtaking views taking in all famous landmarks</li>
			<li>Moments from Underground station</li>
		</ul>
	</div>
	<div class="result_options">
		<span class="price">£250<small>p/w</small></span>
		<a class="button_2" href="/{{ curr_lang_code }}/detail/">View details</a>
		<a class="button_1" href="#">Add to shortlist</a>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block sidebar_content %}

{% include "elements/searchboxes/form.html" %}

{% include "elements/reusable/newsletter.html" %}
	
{% include "elements/reusable/iphone_app.html" %}

{% include "elements/reusable/follow_us.html" %}

{% endblock %}

{% block after_content %}

{% include "elements/search_content/result_bar.html" with master_class="result_bar lower" %}

{% endblock %}

{% block after_container %}{% endblock %}