{% extends "skeleton_page.html" %}

{% block container_class %}page search{% endblock %}

{% block before_content %}

{% include "elements/search_content/result_bar.html" with master_class="result_bar" %}
<script type="text/javascript">
// Script for handling pagination, ordering and page change events. It's here because the header and the footer is the same code and so included twice.
handle_page_numbers = function(curr_page, last_page, res_count) {
	// Calculating the slice.
	var slice = [];

	if(last_page - curr_page < 2) {
		var need_after = 2 - (last_page - curr_page);

		for(var i = Math.max(1,curr_page - 2 - need_after); i <= Math.min(curr_page + 2, last_page); i++) {
			slice.push(i);
		}
	} else {
		var need_before;
		if(curr_page - 1 < 2) {
			need_before = 2 - (curr_page - 1);
		} else {
			need_before = 0;
		}

		for(var i = Math.max(1, curr_page - 2); i <= Math.min(curr_page + 2 + need_before, last_page); i++) {
			slice.push(i);
		}
	}

	// Creating the new page links
	$('li.page_number').each(function () {
		if(slice.indexOf(parseInt($(this).text())) != -1) {
			if(parseInt($(this).find('a').text()) == curr_page) {
				$(this).addClass('selected');
			}
			$(this).show()
		} else {
			if($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			}
			$(this).hide();
		}
	});
}

handle_next_prev = function (curr,max) {
	if(curr == 1) {
		$('li.prev').css('visibility', 'hidden');
	} else {
		$('li.prev').css('visibility', 'visible');
	}

	if(curr == max) {
		$('li.next').css('visibility', 'hidden');
	} else {
		$('li.next').css('visibility', 'visible');
	}
};

handle_item_changes = function(curr_page, next_page, res_per_page, res_count) {
	results = $('div#search_results div.result');

	if(curr_page != next_page) {
		for(var i = (curr_page - 1) * res_per_page; i < Math.min(curr_page * res_per_page, res_count); i++) {
			$(results[i]).hide();
		}

		for(var i = (next_page - 1) * res_per_page; i < Math.min(next_page * res_per_page, res_count); i++) {
			$(results[i]).show();
		}		
	}
};



$(window).load(function () {
	var current_page = 1;
	var curr_result_per_page = {{ default_result_per_page }};
	var curr_ordering = '{{ default_ordering }}';
	var curr_total_pages;
	var result_count = $('div#search_results div.result').length;

	if(result_count % curr_result_per_page == 0) {
		curr_total_pages = result_count / curr_result_per_page;
	} else {
		curr_total_pages = Math.floor(result_count / curr_result_per_page) + 1;
	}

	handle_next_prev(current_page, curr_total_pages);

	// Adding the initial page numbers
	handle_page_numbers(current_page, curr_total_pages, result_count);

	// Adding the initial search results to the page.
	var to = Math.min(result_count, curr_result_per_page);
	var results = $('div#search_results div.result');
	for(var i = 0; i < result_count; i++) {
		if(i >= to) {
			$(results[i]).hide();
		}
	}

	// Handling a page change via next button
	$('li.next a').each(function () {
		$(this).click( function (event) {
			event.preventDefault();
			current_page = current_page + 1;
			
			// Changing the available page numbers
			handle_page_numbers(current_page, curr_total_pages, result_count);

			// Hiding next and/or prev if necessary
			handle_next_prev(current_page, curr_total_pages);

			// Changing the items currently displayed
			handle_item_changes(current_page - 1, current_page, curr_result_per_page, result_count);
		});
	});

	// Handling a page change via the prev button
	$('li.prev a').each(function () {
		$(this).click( function (event) {
			event.preventDefault();
			current_page = current_page - 1;
			
			// Changing the available page numbers
			handle_page_numbers(current_page, curr_total_pages, result_count);

			// Hiding next and/or prev if necessary
			handle_next_prev(current_page, curr_total_pages);

			// Changing the items currently displayed
			handle_item_changes(current_page + 1, current_page, curr_result_per_page, result_count);
		});
	});	

	// Handling a page change via clicking on a page number
	$('li.page_number a').each(function () {
		$(this).click(function (event) {
			event.preventDefault();
			var new_page = parseInt($(this).text());
			
			// Changing the available page numbers
			handle_page_numbers(new_page, curr_total_pages, result_count);

			// Hiding next and/or prev if necessary
			handle_next_prev(new_page, curr_total_pages);

			// Changing the items currently displayed
			handle_item_changes(current_page, new_page, curr_result_per_page, result_count);

			current_page = new_page;
		});
	});

	// Handling change of result per page
	$('select[name="per_page"]').change(function () {
		curr_result_per_page = parseInt($(this).find('option:selected').attr('value'));

		// Setting the other selector to the same value
		$('select[name="per_page"] option').each(function () {
			if(parseInt($(this).attr('value')) == curr_result_per_page) {
				$(this).attr('selected', "selected");
			} else {
				$(this).removeAttr('selected');
			}
		});
		
		if(result_count % curr_result_per_page == 0) {
			curr_total_pages = result_count / curr_result_per_page;
		} else {
			curr_total_pages = Math.floor(result_count / curr_result_per_page) + 1;
		}

		var next_page = 1;
		
		// Changing the available page numbers
		handle_page_numbers(next_page, curr_total_pages, result_count);

		// Hiding next and/or prev if necessary
		handle_next_prev(next_page, curr_total_pages);

		// Changing the items currently displayed
		var t = Math.min(result_count, curr_result_per_page);
		var r = $('div#search_results div.result');
		for(var i = 0; i < result_count; i++) {
			if(i >= t) {
				$(r[i]).hide();
			} else {
				$(r[i]).show();
			}
		}

		current_page = next_page;
	});

	// Handling change of ordering
	$('select[name="sort_by"]').change(function () {
		curr_ordering = $('select[name="sort_by"] option:selected').attr('value');

		var ord_r = $('div#search_results div.result').get();

		ord_r.sort(function (a,b) {
			var aPriceText = $(a).find('span.price').attr('id');
			var pricePattern = /[0-9]+_price_([0-9]+)/g;
			var match = pricePattern.exec(aPriceText);
			var aPrice = parseInt(match[1]);

			var bPriceText = $(b).find('span.price').attr('id');
			pricePattern = /[0-9]+_price_([0-9]+)/g;
			match = pricePattern.exec(bPriceText);
			var bPrice = parseInt(match[1]);
			
			if(curr_ordering == 'plh') {
				return (aPrice < bPrice) ? -1 : (aPrice > bPrice) ? 1 : 0;				
			} else { // curr_ordering == 'phl'
				return (aPrice > bPrice) ? -1 : (aPrice < bPrice) ? 1 : 0;
			}	
		});

		var holder = $('div#search_results');
		$.each(ord_r, function (index, item) { holder.append(item); });
	});
});
</script>

{% endblock %}

{% block real_content_id %}search_results{% endblock %}

{% load element_translator %}
{% block real_content %}
<!-- TODO: Automatically generate this and create models for it. -->
{% for result in search_results %}
<div id="result_{{ result.property_id }}" class="result">
	<!-- Adding the image slider -->
	<div class="result_image">
		<img src="{{ MEDIA_URL }}{{ result.searchimages.0 }}" alt="search result">
		<div class="controls">
			<ul>
				{% for image in result.searchimages %}
				{% if forloop.first %}
				<li class="selected" id="{{ result.property_id }}_{{ forloop.counter }}_car" ><a href="#" >{{ result.property_id }}_{{ forloop.counter }}</a></li>
				{% else %}
				<li id="{{ result.property_id }}_{{ forloop.counter }}_car" ><a href="#" >{{ result.property_id }}_{{ forloop.counter }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>

	<!-- Storing the rest of the images -->
	{% for image in result.searchimages %}
	<div style="display: none" id="{{ result.property_id }}_{{ forloop.counter }}_holder">
		{% if not forloop.first %}
			<img  src="{{ MEDIA_URL }}{{ image }}" alt="search result">
		{% endif %}
	</div>
	{% endfor %}

	<!-- Adding the property details -->
	<div class="result_details">
		<h3>{{ result.address.address }} - {{ result.address.postcode }}</h3>
		<strong>{% gettext search-Property_Ref_No %} {{ result.property_id }}</strong>
		{{ result.description }}
	</div>
	<div class="result_options">
		<span class="price" id="{{ result.property_id }}_price_{{ result.price }}" >£{{ result.price }}{% if result.sale_type == 'R' %}<small> p/w</small>{% endif %}</span>
		<a class="button_2" href="#" id="result_button_{{ result.property_id }}" >{% gettext search-View_details %}</a>
		<a id="shortlist_button_{{ result.property_id }}" class="button_1" href="">{% gettext search-Add_to_shortlist %}</a>
	</div>
</div>
{% endfor %}
<script type="text/javascript">
var property_ids = {{ property_ids }};
var csrf_pattern = /.*value='([a-z0-9]+)'.*/g;
var csrf_match = csrf_pattern.exec("{% csrf_token %}");
var csrf_token = csrf_match[1];

// Changing images when the carousel is clicked.
$(window).load(function () {
	$('div.controls ul li').each(function () {
		$(this).click(function () {
			var reg = /([^_]+)_([^_]+)/g;
			var match = reg.exec($(this).find('a').text());
			var id = match[1];
			var num = match[2];

			reg = /([^_]+)_([^_]+)/g;
			match = reg.exec($('div#result_' + id + ' div.result_image div.controls ul li.selected a').text());

			var old_num = match[2];
			
			// Adding the old picture to it's holder
			$('#' + id + '_' + old_num + '_holder').append($('#result_' + id + ' img:first'));

			// Adding the new picture from it's holder
			$('div#result_' + id + ' div.result_image').prepend($('#' + id + '_' + num + '_holder' + ' img'));			

			// Deselecting the old carousel
			$('#' + id + '_' + old_num + '_car').removeClass('selected');

			// Selecting the new carousel
			$('#' + id + '_' + num + '_car').addClass('selected');
		});
	});

	$('a.button_1').each(function () {
		$(this).click( function (event) {
			event.preventDefault();
			var reg = /shortlist_button_([0-9]+)/g;
			var match = reg.exec($(this).attr('id'));
			var id = match[1];
			
			// Adding new element to the array
			if($.inArray(id, shortlist_ids) == -1) {
				shortlist_ids.push(id);
			}

			// Refreshing the shortlist count
			$('.shortlist-link').each( function () {
				if(this.tagName == 'DIV') {
					$(this).find('a').text($(this).find('a').text().replace(/(.*)\([0-9]+\) >$/, '$1(' + shortlist_ids.length + ') >'));
				}
				else {
					$(this).text($(this).text().replace(/(.*)\([0-9]+\) >$/, '$1(' + shortlist_ids.length + ') >'));
				}
			});

			// Refreshing the cookie related to the shortlist
			$.cookie('shortlist_ids', '[' + shortlist_ids.join(', ') + ']', {'expires': 10000});
		});
	});

	$('a.button_2').each(function () {
		$(this).click(function (event) {
			event.preventDefault();
			var detail_pattern = /result_button_([0-9]+)$/g;
			var detail_match = detail_pattern.exec(this.id);
			var detail_id = detail_match[1];

			var form = document.createElement("form");
			form.setAttribute("method", "POST");
			form.setAttribute("action", "/{{ curr_lang_code}}/detail/" + detail_id + "/");

			var hidden = document.createElement('input');
			hidden.setAttribute("type", "hidden");
			hidden.setAttribute("name", "property_ids");
			hidden.setAttribute("value", '[ ' + property_ids.join(', ') + ' ]');
			form.appendChild(hidden);

			var csrf = document.createElement('input');
			csrf.setAttribute("type", "hidden");
			csrf.setAttribute("name", "csrfmiddlewaretoken");
			csrf.setAttribute("value", csrf_token);	
			form.appendChild(csrf);
			
			form.submit();
		});
	});
});
</script>
{% endblock %}

{% block sidebar_content %}

{% include "elements/searchboxes/form.html" %}

{% include "elements/reusable/newsletter.html" %}
	
{% include "elements/reusable/iphone_app.html" %}

{% include "elements/reusable/follow_us.html" %}

{% endblock %}

{% block after_content %}

{% include "elements/search_content/result_bar.html" with master_class="result_bar lower" %}

{% endblock %}

{% block after_container %}{% endblock %}