{% extends "skeleton_page.html" %}

{% block container_class %}page tenants{% endblock %}

{% block before_content %}{% endblock %}

{% block real_content_id %}tenants{% endblock %}

{% load element_translator %}
{% block real_content %}

<div id="map" class="single">
	
	{% include "elements/media/tenants.html" %}
	
	<div class="map_description col1">
		<h2>{% gettext tenants-header %}</h2>
		<p>{% gettext tenants-paragraph_1 %}</p>
		<p>{% gettext tenants-paragraph_2 %}</p>
	</div>
	
</div>

{% include "elements/reusable/our_staff.html" %}

{% endblock %}

{% block sidebar_content %}

{% include "shortcuts/usual_sidebar.html" %}

{% endblock %}

{% block after_content %}{% endblock %}