<!-- TODO: Translate -->
<div class="map_description col1">
	<h2>Furniture Sales/Rental</h2>
	<p>When under management, Your property will be allocated to a specific Property Administrator and their details will be available to you. Our Management Team prides itself on being able to deal with day to day issues quickly, professionally, and most importantly of all, with the best interest of our clients always in the forefront of our minds. Up to date computer technology allows us to ensure that all aspects of the property management services that we provide can be dealt with in the most beneficial way to you. These include paying bills, rent collection, statements, serving notices and renewing contracts.</p>
	<h2>Property Maintenance</h2>
	<p>We have long-standing relationships with highly skilled contractors who look after any repairs, redecoration or improvements which may be necessary. We are able to attend to emergencies and only use trained, accredited experts with experience in the relevant area which needs attention.</p>
	<h2>General</h2>
	<p>We will advise on various improvements, or additions, or if it is necessary to clean the property before the tenant takes occupation and will work to ensure you are given the best advice to ensure the best tenancy.</p>
</div>