<!-- TODO: Translation needed -->
<div class="map_description col1">
	<h2>High Quality Tenants</h2>
	<p>To find a suitable tenant for your property, we go to great lengths to ensure firstly the quality of the tenant and secondly that we facilitate the tenant moving in as soon as possible. We always endeavour to achieve the best possible rental offer and contact you immediately.</p>
	<h3>Tenant Referencing</h3>
	<p>We use the top independent referencing company in the UK, and have an unrivalled record in gaining the best possible applicants for our Landlords. For extra peace of mind, rent warranty and Insurance policies are available on request.</p>
</div>