{% load element_translator %}
<div class="map_description col1">
	<h2>{% gettext landlord_services-property_management-header_1 %}</h2>
	<p>{% gettext landlord_services-property_management-paragraph_1 %}</p>
	<h2>{% gettext landlord_services-property_management-header_2 %}</h2>
	<p>{% gettext landlord_services-property_management-paragraph_2 %}</p>
	<h2>{% gettext landlord_services-property_management-header_3 %}</h2>
	<p>{% gettext landlord_services-property_management-paragraph_3 %}</p>
</div>